*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body::before{
    background: url('https://cdn.pixabay.com/photo/2020/11/10/15/11/weightlifting-5730110_960_720.jpg') no-repeat center center/cover;
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 700px;
    z-index: -1;
    top: 0px;
    left: 0px;
    position: absolute;

}
nav{
    background: rgb(39, 38, 38);
    border: 2px solid white;
    font-weight: bold;
    opacity: 0.7;
    /* display: inline-block; */
    /* border-radius: 10px; */
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background: white;
    color: rgb(56, 53, 53);
    border-radius: 4px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 10px 35px;
}
h1{
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-style: oblique;
    text-shadow: green 2px 2px;
}
.container{
   /* background: lightgray; */
   margin: 30px auto;
   max-width: 70%;
}
input, textarea{
    font-weight: bold;
    display: block;
    padding: 2px;
    margin: 15px auto;
    width: 60%;
    outline: none;
    border: 2px solid black;
    border-radius: 4px;
}
form{
    opacity: 0.5;
}
.btn{
    margin: 3px auto;
    display: block;
    width: 300px;
    padding: 4px 0px;
    font-weight: bold;
    background-color: rgb(39, 38, 38);
    color: white;
    border: 3px solid white;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(41, 105, 41);
    font-style: italic;
}
